[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[virtualenvs]
create = true
in-project = true

[tool.poetry]
name = "openlrc"
version = "0.1.1"
description = "Transcribe (whisper) and translate (gpt) voice into LRC file."
license = "MIT"
authors = [
    "Hao Zheng <zhenghaosustc@gmail.com>"
]
readme = "README.md"
homepage = "https://github.com/zh-plus/Open-Lyrics"
keywords = [
    'openai-gpt3',
    'whisper',
    'voice transcribe',
    'lrc'
]
classifiers = [
    'Programming Language :: Python :: 3',
    'Intended Audience :: Developers',
    'Topic :: Scientific/Engineering',
    'License :: OSI Approved :: MIT License',
    "Operating System :: OS Independent",
]
include = [
    { path = 'openlrc' },
]

[tool.poetry.dependencies]
python = "^3.8"
openai = "^0.27.6"
faster-whisper = "^0.6.0"
tiktoken = "^0.3.1"
langcodes = "^3.3.0"
language-data = "^1.1"
rich = "^12.6.0"
tqdm = "^4.65.0"
audioread = "^3.0.0"
opencc = "^1.1.1"
punctuators = "^0.0.5"

[tool.poetry.urls]
"Bug Tracker" = "https://github.com/zh-plus/Open-Lyrics/issues"
