[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = "openlrc"
version = "0.0.1"
authors = [
    { name = "Hao Zheng", email = "zhenghaosustc@gmail.com" },
]
description = "Transcribe and translate voice into LRC file."
readme = "README.md"
requires-python = ">=3.8"
dependencies = [
    'openai',
    'faster-whisper',
    'tiktoken',
    'langcodes',
    'language-data',
    'rich'
]
keywords = [
    'openai-gpt3',
    'whisper',
    'voice transcribe',
    'lrc'
]
classifiers = [
    'Programming Language :: Python :: 3',
    'Intended Audience :: Developers',
    'Topic :: Scientific/Engineering',
    'License :: OSI Approved :: MIT License',
    'Programming Language :: Python :: 3.11',
    "Operating System :: OS Independent",
]

[project.urls]
"Homepage" = "https://github.com/zh-plus/Open-Lyrics"
"Bug Tracker" = "https://github.com/zh-plus/Open-Lyrics/issues"